/* --------------- */
/* --- COMMONS --- */
/* --------------- */
.body {
    font-family: 'Lato', sans-serif;
    font-size: 1em;
    color: #333333;
}

.header {
    position: fixed;
    width: 100%;
    height: 70px;
    z-index: 10;
}

.header__nav {
    height: 100%;
    width: 100%;
}

.header__nav__list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    width: 100%;
}

.header__nav__list li {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__nav__list ul {
    width: 100%;
    height: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: flex-start;
    overflow: hidden;
}

.header__nav__list ul:hover {
    overflow: initial;
}

.header__nav__list ul li {
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__nav__list ul li a {
    background-color: #ab92af;
    color: #eeeeee;
    transition: background-color ease 200ms;
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
    line-height: 1.5em;
}

.header__nav__list li a {
    background-color: #ab92af;
    color: #eeeeee;
    transition: background-color ease 200ms;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
    line-height: 1.5em;
}

.header__nav__list li a:hover {
    background-color: #b72f79;
    transition: background-color ease 200ms;
}

.footer {
    height: 250px;
    background-color: #333333;
    color: #eeeeee;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-size: 0.5em;
    font-style: italic;
    letter-spacing: 1px;
    text-align: center;
}

.footer__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 50%;
}

.footer__list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
    font-size: 1.5em;
    text-transform: uppercase;
    font-style: initial;
}

.divider--white {
    width: 90%;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.5);
}

.section {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.title {
    color: #eeeeee;
    font-size: 5em;
    z-index: 1;
    font-family: 'Damion', cursive;
    text-shadow: 2px 2px 4px #333333;
    text-align: center;
}

.link {
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    font-size: 1em;
    color: #eeeeee;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.subtitle {
    font-size: 2em;
    line-height: 1.5em;
    font-family: 'Damion', cursive;
    text-indent: 1.5em;
    text-shadow: 2px 2px 4px #eeeeee;
    padding-bottom: 1em;
}

.ctn {
    background-image: url('images/bg.jpg');
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 60%;
    height: 50%;
}

.form__input {
    width: 50%;
    height: 15%;
    font-size: 1em;
    border-radius: 10px;
    background-color: rgba(255,255,255,0.8);
    border: none;
    outline: none;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form__input::placeholder {
    font-style: italic;
    font-size: 1em;
}

.form__input--area {
    font-family: 'Lato', sans-serif;
    font-size: 1em;
    color: #333333;
    height: 100px;
    padding: 5px;
    width: calc(50% - 10px);
}

.form__button {
    font-size: 1em;
    color: #eeeeee;
    background-color: #ab92af;
    border: none;
    padding: 15px 50px;
    border-radius: 10px;
    transition: background-color ease 200ms;
    cursor: pointer;
}

.form__button:hover {
    background-color: #b72f79;
    transition: background-color ease 200ms;
}

.form__error {
    font-size: 3em;
    font-family: 'Damion', cursive;
    color: #b72f79;
    text-shadow: 2px 2px 4px #333333;
    padding: 30px 0;
}


/* --------------- */
/* ---- PAGES ---- */
/* --------------- */

/* Home */
.home__subheader {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.home__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.home__content__bio {
    background-color: #afc30c;
    border-radius: 10px;
    width: 60%;
    padding: 1.5em;
    line-height: 2em;
    align-self: flex-end;
    margin-right: 5%;
    overflow-x: hidden;
    overflow-y: auto;
    max-height: 90vh;
}

.home__content__bio h2 {
    color: #6d8100;
}

.home__content__values {
    padding: 1.5em;
    width: 60%;
    align-self: flex-start;
    margin-left: 5%;
    background-color: rgba(255, 255, 255, 0.25);
    border: 2px solid rgba(255, 255, 255, 0.5);
    text-shadow: 2px 2px 4px #eeeeee;
}

.values__list {
    align-self: flex-start;
    font-size: 1.5em;
    font-family: 'Damion', cursive;
}

.values__list li {
    line-height: 1.5em;
}

.home__content__recyclable {
    background-color: #fdeef5;
    width: 60%;
    border: 2px solid #b72f79;
    border-radius: 10px;
    padding: 1.5em;
}

.home__content__recyclable h2 {
    color: #b72f79;
    font-size: 1.25em;
    line-height: 1.25em;
}

.home__content__recyclable img {
    width: 100%;
    height: auto;
}


/* Login */
.subtitle--connect {
    text-indent: 0;
}

/* Articles */
.products__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 95%;
    padding: 30px 0;
}

.products__list__card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 27%;
    height: 600px;
    margin: 1%;
    background-color: #f1eaf1;
    padding: 2%;
    border: 2px solid #ab92af;
    border-radius: 5px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16),
                0 3px 6px rgba(0,0,0,0.23);
    transition: background-color ease 200ms;
}

.products__list__card:hover {
    background-color: #f1dbf1;
    transition: background-color ease 200ms;
}

.product__title {
    font-family: 'Damion', cursive;
    font-size: 1.25em;
    text-transform: lowercase;
    color: #b72f79;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.product__img {
    width: 250px;
    height: auto;
    transition: transform ease 200ms;
}

.product__img:hover {
    transform: scale(1.1);
    transition: transform ease 200ms;
}

.product__text {
    line-height: 1.5em;
    text-indent: 2em;
}

.product__price {
    align-self: flex-end;
}

.product__price__number {
    color: #b72f79;
    font-size: 1.25em;
    font-weight: bold;
}

.product__delete {
    padding-left: 20px;
}

.product__delete__btn {
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    background-color: #b72f79;
    color: #eeeeee;
    box-shadow: 0 0 2px 0 #b72f79;
    cursor: pointer;
    transition: all ease 200ms;
}

.product__delete__btn:hover {
    background-color: #eeeeee;
    color: #b72f79;
    transition: all ease 200ms;
}

.form__button--product {
    justify-self: flex-end;
    padding-top: 20px;
}

/* Add */
.form__input--file {
    display: none;  
}

.form__input--label {
    color: #b72f79; 
    cursor: pointer;
}

/* Cart */
.cart__content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 80%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.85);
    border: 1px solid rgba(255, 255, 255, 0.95);
    margin: 120px 0 50px 0;
    padding: 30px;
    border-radius: 10px;
}

.cart__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.cart__list__item {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    border-bottom: 1px solid #b72f79;
    padding: 10px 0;
}

.cart__list__item:last-of-type {
    border-bottom: none;
}

.cart__title {
    font-family: 'Damion', cursive;
    font-size: 1.5em;
    color: #333333;
}

.cart__item__img {
    width: 125px;
    height: auto;
}

.cart__item__title {
    font-family: 'Damion', cursive;
    font-size: 1.5em;
    text-transform: lowercase;
    color: #b72f79;
    padding: 0 20px;
    width: 20%;
}

.cart__item__description {
    padding-right: 20px;
    line-height: 1.75em;
    width: 50%;
}

.cart__item__price {
    color: #b72f79;
    font-size: 1.25em;
    font-weight: bold;
    width: 10%;
    align-self: center;
}

.form__button--cart {
    width: 45px;
    height: 40px;
    padding: 0;
    border-radius: 100%;
    outline: none;
    align-self: center;
}

.form__button--cart:hover {
    background-color: #b72f79;
    transition: background-color ease 200ms;
}

.cart__total {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

.total__price {
    font-size: 2em;
}

.total__price__number {
    color: #b72f79;
    font-weight: bold;
}

/* Bill */
.bill__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 100%;
    background-color: white;
    margin-bottom: 70px;
    padding: 50px;
    font-size: 1.15em;
    line-height: 1.5em;
}

.bill__subheader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-bottom: 50px;
}

.bill__title {
    font-size: 2em;
    font-weight: bold;
}

.bill__adress__title {
    font-weight: bold;
    font-style: italic;
}

.bill__text--created {
    font-size: 1.25em;
    font-style: italic;
}

.bill__adress__ets {
    align-self: flex-end;
    width: 22.5%;
}

.bill__adress__client {
    align-self: flex-start;
    width: 22.5%;
}

.bill__info-client {
    align-self: flex-start;
    padding-bottom: 20px;
}

.bill__products__ctn {
    width: 100%;
}

.bill__products__ctn {
    margin: 80px 0;
    border: 2px solid black;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bill__list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 90%;
}

.bill__list__item {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid black;
}

.bill__list__item:last-of-type {
    border-bottom: none;
}

.bill__list__item * {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33%;
    height: 70px;
}

.bill__item__title {
    font-size: 1.5em;
    font-weight: bold;
}

.bill__subfooter {
    align-self: flex-end;
}


/* --------------- */
/* ---- MEDIA ---- */
/* --------------- */
@media screen and (min-width: 641px) and (max-width: 1275px) {
    .header {
        font-size: 0.75em;
    }

    .products__list__card {
        width: 43%;
    }
}

@media screen and (max-width: 750px) {
    .header__nav__list {
        flex-direction: column;
        justify-content: flex-start;
        overflow: hidden;
    }

    .header__nav__list:hover {
        overflow: initial;
    }

    .header__nav__list li a {
        height: 70px;
    }

    .header__nav__list li a {
        height: 70px;
    }
}

@media screen and (max-width: 640px) {
    .footer__list {
        flex-direction: column;
    }

    .form {
        height: 60%;
    }

    .subtitle--connect {
        padding: 0;
    }

    .form__input {
        width: 100%;
    }

    .products__list__card {
        width: 100%;
    }

    .cart__list__item {
        flex-direction: column;
    }
}